<h3>Git Log</h3>

<h3>To polecenie służy nam do przejrzenia historii zmian dokonanych w projekcie. 
    Na liście wypisane są szczegółowe informacje odnośnie poszczególnych etapów, gałęzi, 
    modyfikacji plików. Tutaj możemy sprawdzić jak rozwijał się nasz projekt.</h3>

